body{
    padding: 0;
    margin: 0;
    background: #f4f4f4;
    font-family: Lato;
   
    
}
.category{
    color:#e361e8;
    text-transform: capitalize;
    font-size: 12px;
    
  }
  .title{
    font-size: 30px;
    text-transform: capitalize;
  }

  .title-sm{
    font-size: 18px;
  }
  .title:hover{
    color:#e361e8;
    cursor:pointer;
  }
  .date{
    color:#8e8e8e;
    font-size: 12px;
  }

*{
    box-sizing: border-box;
}